---
# tasks file for apache

- name: Install httpd
  yum:
    name: httpd
    state: present

- name: Start httpd
  service:
    name: httpd
    state: started
    enabled: yes

- name: Start firewalld
  service:
    name: firewalld
    state: started
    enabled: yes

- name: Firewalld modify
  firewalld:
    service: http
    state: enabled
    permanent: yes
    immediate: yes

- name: Copy index html
  template:
    src: index.html.j2
    dest: /var/www/html/index.html
    setype: httpd_sys_content_t
