---
- name: Pre-Check
  hosts: all
  become: true
  serial: 5
  gather_facts: no
  tasks:
    - name: 1. Pre-Check File Copy
      copy:
         src: /ansible/files/pre-check2.sh
         dest: /ansible/
         owner: root
         group: root
         mode: 0744
    - name: 2. Execure Pre-Check Shell
      shell: "{{ item }}"
      with_items:
         - /ansible/pre-check2.sh > /ansible/pre_check_results.$HOSTNAME.`date +%Y%m%d`
         - /ansible/pre-check2.sh > /ansible/pre_check_results
    - name: 3. Cat results
      command: cat /ansible/pre_check_results
      register: pre_check_results
    - name: Print result variable
      debug:
        msg:
          - "{{ pre_check_results.stdout_lines }}"
