---
- name: Gathering System Information
  hosts: all
  become: true
  serial: 5
  gather_facts: yes
#  serial: 1
  vars:
    packages:
    - ipmitool
    - lshw
    - smartmontools
    timestamp: "{{lookup('pipe', 'date +%Y%m%d')}}"
  tasks:
#    - name: 1. Yum Install
#      yum:
#         name: "{{packages}}"
#         state: latest
    - name: 2. Ansible Directory Create
      file:
         owner: root
         group: root
         path: /ansible/gsi/
         state: directory
         mode: 0644
    - name: 3. RPM & Script file copy
      copy:
         src: "{{ item }}"
         dest: /ansible/
         owner: root
         group: root
         mode: 0744
      with_fileglob:
         - /ansible/files/gsi_HP.sh
         #- /ansible/files/ssacli-5.20-8.0.x86_64.rpm
#    - name: 4. "ssacli" RPM Install
#      yum:
#         name: /ansible/ssacli-5.20-8.0.x86_64.rpm
#         state: present
#      args:
#         disable_gpg_check: yes
    - name: 5. Execute lshw
      shell: "{{ item }}"
      with_items:
         - /usr/sbin/lshw > /ansible/gsi/lshw_results.{{ ansible_nodename }}.{{ timestamp }}
         - /usr/sbin/lshw -C network -short > /ansible/gsi/lshw_nw
    - name: 6. Get lshw_results
      fetch:
         src: /ansible/gsi/lshw_results.{{ ansible_nodename }}.{{ timestamp }}
         dest: /lshw_results/
         flat: yes
    - name: 7. Execute gsi Shell
      shell: "{{ item }}"
      with_items:
         - /ansible/gsi_HP.sh
    - name: 8. Get gsi_results
      fetch:
         src: /ansible/gsi/gsi_results.{{ ansible_nodename }}.{{ timestamp }}.csv
         dest: /cmdb/gsi/{{ timestamp }}/
         flat: yes


