---
- name: Post-Check
  hosts: all
  become: true
  serial: 5
  gather_facts: yes
  vars:
    timestamp: "{{lookup('pipe', 'date +%Y%m%d')}}"
  tasks:
    - name: 1. Post-Check File Copy
      copy:
         src: /ansible/files/post-check.sh
         dest: /ansible/
         owner: root
         group: root
         mode: 0744
    - name: 2. Execute Post-Check Shell
      shell: "{{ item }}"
      with_items:
         - /ansible/post-check.sh
    - name: 3. Cat results
      command: cat /ansible/gsi/post_check_results
      register: post_check_results
    - name: 4. Get post_check_results
      fetch:
         src: /ansible/gsi/post_check_results.{{ ansible_nodename }}.{{ timestamp }}.json
         dest: /cmdb/post_check/{{ timestamp }}/
         flat: yes
    - name: Print result variable
      debug:
        msg:
          - "{{ post_check_results.stdout_lines }}"

