---
- name: PKG install 
  hosts: all
  become: true
  #serial: 1
  vars:
    uptime_limit : 20
    cpu_idle_limit : 80
    mem_limit : 15
    ipaddr_limit : 1
    qemu_limit : 0
    timestamp: "{{lookup('pipe', 'date +%Y%m%d')}}"

  tasks:
  - name : Pre-check and Register Conditionals
    block:
#    - name: pre.0 Directory Create
#      file:
#         path: /ansible
#         state: directory
#         owner: root
#         group: root
#         mode: 0755
    - name: Pre.1 Pre-Check File Copy
      copy:
         src: /ansible/files/pre-check2.sh
         dest: /ansible/pre-check2.sh
         owner: root
         group: root
         mode: 0744
    - name: Pre.2 Execute Pre-Check Shell
      shell: "{{ item }}"
      with_items:
         - /ansible/pre-check2.sh > /ansible/pre_check_results
    - name: Pre.3 Uptime Result Register
      shell: cat /ansible/pre_check_results  | grep -A 1 "\[Uptime\]" | tail -1 | awk '{print $1}'
      register: uptime_result
    - name: Pre.4 CPU Result Register
      shell: cat /ansible/pre_check_results  |grep -A 1 "\[CPU Util.\]" | tail -1 | awk '{print $5}' | awk -F'.' '{print $1}'
      register: cpu_result
    - name: Pre.5 MEM Result Register
      shell: cat /ansible/pre_check_results  |grep -A 1 "\[MEM Util.\]" | tail -1 | awk '{print $1}' | awk -F'.' '{print $1}'
      register: mem_result
    - name: Pre.6 IPADDR Result Register
      shell: ip addr show | grep -w inet  |egrep -v "127.0.0.1|virbr"| awk '{print $NF,":",$2}'  | awk -F '/' '{print $1}' |wc -l
      register: ipaddr_result
    - name: Pre.7 QEMU Result Register
      shell: cat /ansible/pre_check_results | tail -1 | awk '{print $1}'
      register: qemu_result

  - name: PKG install
    block:
    - name: RPM & Script file copy
      copy:
         src: "{{ item }}"
         dest: /ansible/
         owner: root
         group: root
         mode: 0744
      with_fileglob:
         - /ansible/files/storcli-007.1616.0000.0000-1.x86_64.rpm
    - name: RPM Install
      yum:
         name: "{{ item }}"
         state: present
      args:
         disable_gpg_check: yes
      loop:
         - /ansible/storcli-007.1616.0000.0000-1.x86_64.rpm
         #- /ansible/ilorest-3.6.0.0-45.x86_64.rpm
         #- /ansible/amsd-2.7.0-1724.3.rhel8.x86_64.rpm
      when: ansible_system_vendor == "HP" or "HPE"
    when:
#      - uptime_result.stdout|int < uptime_limit
#      - cpu_result.stdout|int > cpu_idle_limit
#      - mem_result.stdout|int < mem_limit
#      - ipaddr_result.stdout|int == ipaddr_limit
#      - qemu_result.stdout|int == qemu_limit
 
