---
- name: OS-init(S/W install & Configration settings)
  hosts: all
  become: true
  serial: 1
  vars:
    uptime_limit : 20
    cpu_idle_limit : 80
    mem_limit : 15
    ipaddr_limit : 1
    qemu_limit : 0
    timestamp: "{{lookup('pipe', 'date +%Y%m%d')}}"

  tasks:
    - name: 18. "sshd_config" file settings
      copy:
         src: /etc/ssh/sshd_config
         dest: /etc/ssh/sshd_config
         owner: root
         group: root
         mode: 0600
         backup: yes
    - name: 19. Sysstat settings
      copy:
         src: /etc/cron.d/sysstat
         dest: /etc/cron.d/sysstat
         owner: root
         group: root
         mode: 0600
         backup: yes
    - name: 20. HandlePowerKey setting
      copy:
         src: /etc/systemd/logind.conf
         dest: /etc/systemd/logind.conf
         owner: root
         group: root
         mode: 0644
         backup: yes
    - name: 21. pam.d policy settings
      copy:
         src: "{{ item }}"
         dest: /etc/pam.d/
         owner: root
         group: root
         mode: 0644
         backup: yes
      with_fileglob:
         - /etc/pam.d/system-auth
         - /etc/pam.d/password-auth
         - /etc/pam.d/su
    - name: 22. Profile settings
      lineinfile:
         path: /etc/profile
         line: "{{ item }}"
         state: present
      with_items:
         - "### Configured by Ansible ###"
         - umask 022
         - export HISTTIMEFORMAT="%F %T  "
         - export HISTSIZE=5000
         - TMOUT=3600
         - export TMOUT
    - name: 23. "bashrc" file settings
      lineinfile:
         path: /etc/bashrc
         line: "{{ item }}"
         state: present
      with_items:
         - "### Configured by Ansible ###"
         - umask 022
         - export HISTTIMEFORMAT="%F %T  "
         - export HISTSIZE=5000
         - TMOUT=3600
         - export TMOUT
    - name: 24. "login.defs" file settings
      copy:
         src: /etc/login.defs
         dest: /etc/login.defs
         owner: root
         group: root
         mode: 0644
         backup: yes
    - name: 25. "rsyslog.conf" file settings
      copy:
         src: /etc/rsyslog.conf
         dest: /etc/rsyslog.conf
         owner: root
         group: root
         mode: 0640
         backup: yes
    - name: 26. "limits.conf" file settings
      copy:
         src: /etc/security/limits.conf
         dest: /etc/security/limits.conf
         owner: root
         group: root
         mode: 0644
         backup: yes
    - name: 27. "20-nproc.conf" file settings
      copy:
         src: /etc/security/limits.d/20-nproc.conf
         dest: /etc/security/limits.d/20-nproc.conf
         owner: root
         group: root
         mode: 0644
         backup: yes
    - name: 28. Logrotate setting
      command: "{{ item }}"
      with_items:
         - sed -i "s/^rotate 4/rotate 32/" /etc/logrotate.conf
      args:
         warn: false
 
